<div class="container inside_pages_container" style="max-width:90%; padding:20px;">
<% if @fy_students.blank? %>
<p>Books Are Not Issued.</p>
<% else %>
 <div class="notice"><%=flash[:notice]%></div>

<p>Issued Book Deatils:</p>
    <table class="table table-hover table-bordered table-responsive table-condensed">
           
        <thead>
            <tr>
                <td>Id</td>
                <td>Student Name</td>
                <td>Year</td>
                <td>Book Name</td>
                <td>Book Count</td>
                <td>Issue Date</td>
                <%if can? :update,FirstYearStudent%>
                <td>Operations</td>
                <%end%>
            </tr>
        </thead>
        <tbody>
                <%@fy_students.all.each do |fy|%>

            <tr>
                <td><%=fy.book_id%></td>
                <td><%=fy.stud_name%></td>
                <td><%=fy.year%></td>
                <td><%=fy.book_name%></td>
                <td><%=fy.book_count%></td>
                <td><%=fy.created_at.strftime("%F%T")%></td>
                <%if can? :update,FirstYearStudent%>
                <td><%=link_to "Edit",:action=>"edit_fy_student",:id=>fy.id%></td>
                <%end%>
                <%if can? :destroy,FirstYearStudent %>
                <td><%=link_to "Delete",:action=>"delete_fy_student",:id=>fy.id%></td>
                <%end%>
            </tr>
                <%end%>

        </tbody>
    </table>
    <%=link_to "Back",:action=>"index",class:"btn btn-primary"%><br>
    <%= will_paginate @fy_students,previous_label:"Prev",next_label:"Next",inner_window:2,outer_window:2%>
    <%end%>
</div>    
