<div class="container inside_pages_container" >
     <div class="notice"><%=flash[:notice]%></div>
    <table class="table table-hover table-bordered table-responsive table-condensed">
           <caption>Book Issued Details</caption>
        <thead>
            <tr>
                <td>Id</td>
                <td>Student Name</td>
                <td>Year</td>
                <td>Book Name</td>
                <td>Book Count</td>
                <td>Issue Date</td>
            </tr>
        </thead>
        <tbody>
                <%@fy_students.all.each do |fy|%>

            <tr>
                <td><%=fy.id%></td>
                <td><%=fy.stud_name%></td>
                <td><%=fy.year%></td>
                <td><%=fy.book_name%></td>
                <td><%=fy.book_count%></td>
                <td><%=fy.created_at%></td>
                <td><%=link_to "Edit",:action=>"edit_fy_student",:id=>fy.id%></td>
                <td><%=link_to "Delete",:action=>"delete_fy_student",:id=>fy.id%></td>
            </tr>
                <%end%>

        </tbody>
    </table>
    <%=link_to "Add Student",:action => "new_fy_student",class:"btn btn-primary"%><br><br>
    <%=link_to "Back",:action=>"index"%><br>
    <%= will_paginate @fy_students,previous_label:"Prev",next_label:"Next",inner_window:2,outer_window:2%>
</div>    
