<div class="container inside_pages_container" >
<h1 class="text-center">Add Student</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
    
<%= simple_form_for @fy_student, url:{:action=>"create_fy_student"} do |fy| %>
    <%=fy.input :stud_name,placeholder:"student name",label:false,input_html:{maxlength:20}%>
    <%=fy.input :year,placeholder:"year",label:false%>
    <%=fy.input :book_name,placeholder:"book name",label:false%>
    <%=fy.input :book_count,placeholder:"book count" ,label:false%>
    <%=fy.input  :book_id,placeholder:"book id",label:false%>
    <%=fy.submit "Add Student",class:"btn btn-success col-md-offset-6"%>
<%end%>

<%= link_to 'Back',:action => 'fy_student_index' ,:class=>"btn btn-primary"%><br>

</div>
</div>
</div>


