<div class="container inside_pages_container " style="padding:20px;" >
    <div class="">
<h2 class="text-center">Add New Book</h2>
<%= simple_form_for @book,url:{:action=>'create'},method:'post' do |b|%>
    <%=b.input :title,placeholder:'Title',label:false%>
    <%=b.input :book_count,placeholder:"book count",label:false %>
    <%=b.input :price,placeholder:'price',label:false%>
    <%=b.association :subject,collection: @subjects,prompt:'select subject',label:false%>
    <%=b.input :description,placeholder:'describe book here...',label:false%>
    <div class="text-center">
    <%=b.submit "Add Book"%>
    </div>
<%end%>
<%= link_to 'Back', {:action => 'list'},:class=>"btn btn-primary" %>
</div>
</div>