<div class="container inside_pages_container" >
<h1><%= @book.title %></h1>

<p>
   <strong>Price: </strong>&#8377;&nbsp;<%= @book.price %><br />
   <strong>Subject :</strong> <%= @book.subject.name %><br />
   <strong>Created Date:</strong> <%= @book.created_at %><br />
</p>
<p><%= @book.description %></p>

<hr />

<%= link_to 'Back', {:action => 'index'},:class=>"btn btn-primary" %>
</div>